/*
	GREENS;
	dark: #163;
	mid: #493;
	muddy-green: #573;
	light: #8b3;
	bluish: #275;
	whitish: #bd5;

	GREYS;
	dark-grey: #222;

	YELLOWS;
	mid: #ef8;
	light: #eeb;
	dark-light: #cc9;
*/

* {
	position: relative;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: #222;
}
.page {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 120px;
	line-height: 100%;
	margin: 0;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	line-height: 100%;
	margin: 0;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 120%;
	margin: 0;
}
a, a:link, a:visited, a:hover, a:active {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	/*text-decoration: none;*/
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* NAV */
nav {
	z-index: 1;
	background-color: #222;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	overflow: hidden;
}
nav .nav-item {
	color: #eeb;
	display: inline-block;
	width: 50px;
	height: 50px;
}
nav .nav-item.active.title {
	background-color: #163;
}
nav .nav-item.active.about {
	background-color: #8b3;
}
nav .nav-item.active.projects {
	background-color: #eeb;
	color: #222;
}
nav .nav-item.active.contact {
	background-color: #275;
}
nav .nav-item .fa {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

/* SECTIONS */
section {
	width: 100%;
	padding: 0 0 50px 0;
	text-align: center;
	overflow: hidden;
	margin-bottom: -50px;
}
section.footer {
	height: 80px;
	padding: 0;
	margin-bottom: 0;
	background-color: #222;
	color: #eeb;
}
section.footer p {
	font-size: 14px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
section.footer p a {
	color: #8b3;
}

/* TITLE SECTION */
section.title {
	height: 100vh;
	background-color: #163;
	color: #8b3;
	margin-top: 50px;
}
section.title .container {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
section.title h1, #cycle-text {
	color: #eeb;
}

/* ABOUT SECTION */
section.about {
	background-color: #8b3;
	color: #ef8;
	height: 100vh;
	text-align: center;
}
section.about .container {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
section.about .container h2 {
	display: inline-block;
	font-size: 28px;
	line-height: 120%;
	width: 60%;
}
section.about .container h2 strong {
	color: #fff;
}

/* PROJECTS SECTION */
section.projects {
	background-color: #eeb;
	color: #222;
	text-align: center;
	height: auto;
}
section.projects .project {
	display: inline-block;
	/*float: left;*/
	overflow: hidden;
	width: 360px;
	padding: 0;
	background-color: #cc9;
	margin: 10px;
}
section.projects .project .project-title {
	display: inline-block;
	float: left;
	width: 100%;
	height: 60px;
}
section.projects .project .project-title h2 {
	font-size: 24px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
section.projects .project .project-image {
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 100%;
	height: 160px;
	transition: height 0.5s;
}
section.projects .project .project-image.opened {
	height: 360px;
}
section.projects .project .project-image img {
	width: 200%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
section.projects .project .project-desc {
	display: inline-block;
	float: left;
	width: 100%;
	height: 130px;
	padding: 0 20px;
}
section.projects .project .project-desc p {
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

/* CONTACT SECTION */
section.contact {
	height: 100vh;
	background-color: #275;
	color: #eeb;
}
section.contact .container {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
section.contact .container h2 {
	margin-bottom: 10px;
	color: #ef8;
}
section.contact .container a {
	display: inline-block;
	margin: 0 6px;
}

/* TARGET DEVICES */
@media (max-width: 420px) {
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 24px;
	}
	p {
		font-size: 16px;
	}
	section.projects li.project {
		width: 300px;
	}
	section.about .container h2 {
		width: 90%;
		font-size: 22px;
	}
}
