@import "reset";

$white: #fff;
$light-gray: #eee;
$mid-gray: #888;
$darkish-gray: #444;
$dark-gray: #222;
$black: #000;
$light-green: #5dd134;
$dark-green: #206148;

$break-small: 420px;

@mixin bubble($color) {
  border-radius: 5px;
  background-color: $color;
}

@mixin hv-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin v-center() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
    outline: 1px solid $mid-gray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $mid-gray;
    outline: none;
  }
}

body {
	background-color: $light-gray;
}

h1 {
	color: $dark-gray;
	font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
	color: $dark-gray;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	line-height: 100%;
}

h3 {
	color: $dark-gray;
	font-family: 'Muli', sans-serif;
	font-size: 22px;
	line-height: 100%;
}

p, h5, li {
	color: $dark-gray;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	line-height: 120%;
}

h5 {
	color: $mid-gray;
}

strong {
	font-weight: bold;
}

#container {
	padding-top: 50px;
}

.wrap {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@media (max-width: $break-small) {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-bar {
	z-index: 10;
	background-color: $dark-gray;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.nav-cell {
	float: left;
	padding: 0 15px 0 15px;
	h5, .fa {
		color: $light-gray;
		line-height: 50px;
	}
	.logo {
		color: $light-green;
	}
}

.splash {
  width: 100%;
  height: 300px;
  background-color: $darkish-gray;
}

.info {
	width: 100%;
}

.fact-list {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.fact {
	display: inline-block;
	width: 200px;
	height: 280px;
  overflow: hidden;
	text-align: center;
	padding: 15px;
	h3 {
		margin: 15px 0;
	}
}

.fact-box {
	@include bubble($light-green);
	width: 100px;
	height: 100px;
	position: relative;
	margin: 0 auto;
	.fa {
		@include hv-center();
		color: $white;
	}
}

.work {
	width: 100%;
	background-color: $white;
	border-top: 1px solid $mid-gray;
	border-bottom: 1px solid $mid-gray;
}

.job-list {
	padding-top: 30px;
	padding-bottom: 30px;
}

.job {
	position: relative;
	height: 70px;
	padding: 15px;
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
	img {
		@include v-center();
		max-width: 90px;
		max-height: 50px;
	}
	.job-info {
		@include v-center();
		left: 130px;
	}
}

.projects {
	width: 100%;
	padding: 30px 0;
}

.project-list {
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  padding: 0 20px;
}

.project {
  @include bubble($white);
  text-align: left;
	border: 1px solid $mid-gray;
  vertical-align: top;
	display: inline-block;
  width: 280px;
	height: 400px;
  overflow: hidden;
	text-align: left;
	margin-right: 20px;
  margin-bottom: 20px;
	@media (max-width: $break-small) {
		padding-left: 0;
		padding-right: 0;
	}
	.project-header {
		padding: 15px;
		h3 {
			margin-bottom: 5px;
		}
		a {
			color: $light-green;
		}
	}
  .project-image {
    width: 100%;
		height: 200px;
		overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
	.project-footer {
		padding: 15px;
	}
}

.footer {
	background-color: $dark-gray;
	position: relative;
	width: 100%;
	height: 300px;
}

.contact-box {
	@include hv-center();
	text-align: center;
	width: 100%;
	p {
		color: $white;
	}
	a {
		color: $light-green;
	}
}

.contact-list {
	display: inline-block;
	margin-bottom: 15px;
}

.contact {
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
	.fa {
		color: $light-green;
		width: 100%;
		line-height: 50px;
	}
}
