<div>
  {% for group in site.data.projects %}
    <h2>{{ group.year }}</h2>
    {% assign projects = group.projects | sort: 'title' %}
    {% for project in projects %}
      {% if project.image %}
        <a href="{{ project.link }}">
          <div class="project-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/images/projects/{{ project.image }})">
            {% include project.html title=project.title icon=project.icon event=project.event %}
          </div>
        </a>
      {% else %}
        {% include project.html link=project.link title=project.title icon=project.icon event=project.event %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
