---
---

@import "{{ site.theme }}";

// Theme override

.page-header {
    background-image: none;
}

.project-tagline {
    margin-bottom: 1em;
}

// Custom

.contact-icon {
    margin-right: 0.5em;
}

.project-icon {
    margin-left: 1em;
    margin-right: 1em;
    width: 1em;
}

.project-event {
    color: #c2c7c7;
}

.project-image {
    max-width: 500px;
    height: 10em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;
    border-radius: 0.25em;
    margin-bottom: 1em;
}

.project-image .gradient {
    background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45));
}

.project-image a {
    color: #fff;
}

.project-image .project-icon {
    margin-left: 0;
    color: #fff;
}
